:root {
  --primary-color: #eeeeee;
  --button-color: #bb8fa9;
  --secondary-color: #d8cbbb;
  --fourth-color: #560764;
  --decorative-font: "WindSong", cursive;
  --branding-font: "Gruppo", cursive;
}

p {
  line-height: 2;
}

h4 {
  font-size: 48px;
  font-family: var(--decorative-font);
  margin-bottom: 0;
}

footer {
  font-family: var(--branding-font);
  text-align: center;
  font-size: 24px;
  margin: 60px 0;
}

footer .social-links a {
  margin: 0 20px;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 8px;
}

footer .contact-box p {
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

a:hover {
  color: var(--fourth-color);
}

.logo {
  max-height: 80px;
}

.navbar {
  padding: 20px 0;
  font-family: var(--branding-font);
  font-size: 20px;
}

.active {
  color: var(--fourth-color) !important;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-family: var(--decorative-font);
  font-size: 96px;
  margin: 0;
}

.hero p {
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-family: var(--branding-font);
  font-size: 36px;
}

.hero img {
  width: 150px;
  margin-bottom: 20px;
}

.btn-branding {
  background-color: var(--button-color);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.btn-branding-outline {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.project-description {
  padding: 60px 60px;
}

.app-screenshot {
  background-color: var(--primary-color);
  padding: 10px;
}

.app-screenshot img {
  border-radius: 8px;
}

.footer-link {
  color: var(--fourth-color);
  text-decoration: none;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
}

.content p {
  font-size: 14px;
}

.content h3 {
  line-height: 1.5;
  margin: 20px 0 0;
}

.headshot {
  border-radius: 8px;
  max-height: 500px;
}

.content-container h3 {
  font-family: var(--branding-font);
  font-size: 40px;
}

.content-container h1 {
  font-family: var(--decorative-font);
  font-size: 60px;
}

.content-container h2 {
  font-family: var(--branding-font);
  font-size: 24px;
}

.content-container p {
  font-size: 20px;
  line-height: 2;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero {
    padding: 40px 20px;
  }

  h1 {
    font-size: 54px;
    line-height: 1.5;
  }

  .hero h2 {
    font-size: 24px;
    line-height: 1.5;
  }

  .hero p {
    font-size: 22px;
    margin-bottom: 0;
  }

  .container h2 {
    font-size: 24px;
    line-height: 1.5;
  }

  .content.container {
    text-align: center;
    padding: 0;
  }

  .content-container h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  .content-container h3 {
    font-size: 28px;
  }

  footer .contact-box {
    padding: 30px;
  }

  h4 {
    font-size: 36px;
  }
}
